/Player.class
/Sprites.class
/Armour.class
/Bombs.class
/Gifts.class
/bullet.class
/FactoryDesign.class
/Gift.class
/bulletGift.class
/Bomb.class
/Bombb.class
/ScaryBomb.class
/StateBomb.class
/ActionDecreaseState.class
/ActionNoState.class
/careTaker.class
/mementoOfplayer.class
/mementoOfplayers.class
/StateTime.class
/ActionPause.class
/ActionContinue.class
